# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/

# Pytest
.pytest_cache/

# Coverage reports
.coverage
htmlcov/
coverage.xml

# Environment variables
.env
.env.test

# Project specific test cache (downloaded large files)
tests/.cache/

# Distribution / packaging
build/
dist/
wheels/
*.egg-info

# API default logs directory
logs/

# API version file
src/npo/version.py
